* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background-color: var(--warm-brown);
  color: var(--bg-primary);
}
::-moz-selection {
  background-color: var(--warm-brown);
  color: var(--bg-primary);
}